/* stylelint-disable csstree/validator */
/* stylelint-disable declaration-colon-newline-after */
* ::after ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow-x: hidden;
}

.main {
  background-image: none;
}

.background-adjust {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  min-width: 700px;
  max-width: 779px;
}

.main-section {
  display: grid;
  grid-template-columns: auto 662px;
  justify-content: normal;
}

.details {
  margin: 264px 0 251px 0;
}

.details > h1 {
  margin-top: 0;
}

.details > p {
  max-width: 566px;
}

.social-media {
  grid-area: 1;
  flex-direction: column;
  color: white;
  display: flex;
  gap: 22.3px;
  align-self: center;
  padding: 0;
  margin-left: 36px;
  margin-right: 89px;
  margin-top: 351px;
  margin-bottom: 341px;
}

.background-desktop {
  background-image: url(./svg/header-desktop.svg);
  background-repeat: no-repeat;
  background-position: right;
}

/* work section */

.work {
  max-width: 1440px;
  margin: auto;
}

.work-section {
  margin: auto;
  max-width: 1444px;
}

.work-1 {
  margin-left: 153px;
  margin-right: 153px;
  margin-bottom: 130px;
}

.work-placeholder {
  transition: transform 2s;
}

.work-placeholder:hover {
  transform: scale(1.05);
}

.work1-visual {
  display: flex;
  flex-direction: row;
}

.content-data > h3 {
  margin: 0;
}

.work1-visual > h1 {
  width: 315px;
  text-align: end;
}

.work1-visual > .line {
  flex: 1;
  width: 794px;
  margin: 0 24px 56px 24px;
  align-self: self-end;
}

.work-display {
  display: grid;
  max-width: max-content;
  margin: auto;
  gap: 24px;
  grid-template-columns: auto auto auto;
}

@media only screen and (max-width: 1170px) {
  .work-display {
    display: grid;
    grid-template-columns: auto auto;
  }
}

.work1-btn {
  margin-top: 36px;
}

.work1-button {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 45px;
}

.work-2 {
  background: none;
  width: 369px;
  height: 435px;
  background-image: linear-gradient(
      180.45deg,
      rgba(38, 38, 38, 0) 0.75%,
      rgba(38, 38, 38, 0.9) 84.18%
    ),
    url(./svg/Placeholder-desktop14.svg);
}

.work-2:hover {
  background-image: url(./svg/Placeholder-desktop14.svg);
}

.work2-content > h1 {
  display: none;
}

.work2-content > h2 {
  display: block;
}

.work2-content {
  margin: 221px 16px 16px 16px;
}

.work-2:hover .work2-content {
  display: none;
}

.work2-button {
  display: none;
}

.work-2:hover .work2-button {
  display: block;
  margin-top: 373px;
}

.work-2:hover .work2-button button {
  width: 100%;
  height: 63px;
}

/* About me */

.about-me-1 {
  display: grid;
  background: none;
  grid-template-columns: auto 586px;
  margin-top: 130px;
  margin-bottom: 139px;
  margin-right: 0;
  width: auto;
  gap: 146px;
}

.about-me-background {
  background-image: url(./svg/illustration-about-me-desktop.svg);
  width: 555px;
  background-repeat: no-repeat;
  background-position: right;
}

.about-me1-content {
  max-width: 566px;
  margin-left: 142px;
}

.about-me-button {
  padding: 12px;
}

.about-me1-separation {
  margin-right: 142px;
  margin-left: 142px;
}

/* About me 2 */

.about-me-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 206px;
  margin-top: 146px;
  padding-bottom: 146px;
}

.discussion {
  justify-content: left;
  align-items: flex-start;
}

.form-grid {
  display: grid;
  grid-template-columns: 35fr 65fr;
  gap: 24px;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: auto;
  max-width: 1163px;
}

.form-grid > h2 {
  margin: 0;
  padding-left: 135px;
  height: auto;
  text-align: left;
}

.form-button {
  justify-content: left;
  margin-left: 57px;
}

.email {
  margin-top: 0;
}

.inputa {
  display: flex;
}

.input1 {
  display: flex;
  flex-direction: column;
}

.separator1 {
  border: 1px solid #dbd8d7;
  width: auto;
  max-width: 298px;
}

.sm-two {
  flex-direction: row;
  margin: 0;
}

.separator-2 {
  display: none;
}

/* .work1 content */

.work1-content {
  display: grid;
  grid-template-columns: auto auto;
}

/* Menu */

nav {
  padding: 0;
}

.menu-bar {
  display: flex;
  margin: 27px 151px 27px 27px;
  list-style-type: none;
  gap: 32px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

.hamburger > img {
  display: none;
}

.main-logo {
  margin-left: 154px;
  margin-top: 26px;
  padding: 0;
}

.separator {
  margin-bottom: 24px;
  border-color: #dfe1e6;
}

/* pop up */
.popUp {
  max-width: 100vw;
  max-height: 100vh;
  padding: 24px;
}

.pop-up-desktop-1 {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  gap: 25px;
}

.pop-up-desktop-2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.pop-up-image {
  margin-top: 0;
  margin-bottom: 15px;
  height: 90%;
}
.pop-up-h1 {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #172b4d;
}

.pop-up-top {
  height: auto;
}

.pop-up-languages {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #3c3a39;
}

.pop-up-description {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
}
